@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: #ecffeeff;
	--color-primary-100: #9cdb9f;
	--color-primary-200: #77cd7b;
	--color-primary-300: #52bf57;
	--color-primary-400: #3ca241;
	--color-primary-500: #2e7d32;
	--color-primary-600: #205823;
	--color-primary-700: #133214;
	--color-primary-800: #050d05;
	--color-primary-900: #000000;
	--color-primary-950: #000000;

	--color-secondary-50: #fff1e5;
	--color-secondary-100: #ffe2cc;
	--color-secondary-200: #ffc599;
	--color-secondary-300: #ffa966;
	--color-secondary-400: #ff8c33;
	--color-secondary-500: #ff6f00;
	--color-secondary-600: #cc5900;
	--color-secondary-700: #994300;
	--color-secondary-800: #662c00;
	--color-secondary-900: #331600;
	--color-secondary-950: #1a0b00;

	--color-accent-50: #90a8b4;
	--color-accent-100: #819ca9;
	--color-accent-200: #648393;
	--color-accent-300: #4f6875;
	--color-accent-400: #3b4d56;
	--color-accent-500: #263238;
	--color-accent-600: #11171a;
	--color-accent-700: #000000;
	--color-accent-800: #000000;
	--color-accent-900: #000000;
	--color-accent-950: #000000;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}
}

.primary-text {
	color: #ffd832;
}

.primary-bg {
	background-color: #ffd832;
}

.logo {
	font-family: 'Work Sans', sans-serif;
	font-weight: 900;
}

/* colors 
Orange: #fb4a03 
Yellow: #ffd832
Blue: #4da2ff
*/

.min-button {
	background-color: #ffd832;
	color: black;
	border-color: black;
	border: 1px solid;
	border-radius: 20px;
}
.min-button:hover {
	box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
	cursor: pointer;
}

.search-bar {
	border-radius: 20px;
	color: black;
	border: 1px solid;
}

.border {
	border: 1px solid;
}
