@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary: #4A6FE3;
	--color-primary-50: #FBFBFD;
	--color-primary-100: #EBEEF9;
	--color-primary-200: #C8D2F2;
	--color-primary-300: #9BAEED;
	--color-primary-400: #6383E7;
	--color-primary-500: #4A6FE3;
	--color-primary-600: #2046C0;
	--color-primary-700: #1B3791;
	--color-primary-800: #162864;
	--color-primary-900: #101A3C;

	--color-secondary: #F5D33A;
	--color-secondary-50: #FAF8F0;
	--color-secondary-100: #F8F3DE;
	--color-secondary-200: #F6EAB7;
	--color-secondary-300: #F6E184;
	--color-secondary-400: #F5D33A;
	--color-secondary-500: #F3CA12;
	--color-secondary-600: #C6A40C;
	--color-secondary-700: #937A0C;
	--color-secondary-800: #61510B;
	--color-secondary-900: #352D09;

	--color-accent: #E8553F;
	--color-accent-50: #FDFAF9;
	--color-accent-100: #F9EBE9;
	--color-accent-200: #F4CBC5;
	--color-accent-300: #F0A296;
	--color-accent-400: #EC705D;
	--color-accent-500: #E8553F;
	--color-accent-600: #C43019;
	--color-accent-700: #942716;
	--color-accent-800: #651D12;
	--color-accent-900: #3C140E;

	--color-tinte: #1F1F1F;
	--color-tinte-50: #FDFBF6;
	--color-tinte-100: #F6F2E7;
	--color-tinte-200: #EBE6D9;
	--color-tinte-300: #D3CDBE;
	--color-tinte-400: #9D978A;
	--color-tinte-500: #6B6B6B;
	--color-tinte-600: #4F4F4F;
	--color-tinte-700: #3A3A3A;
	--color-tinte-800: #2A2A2A;
	--color-tinte-900: #1F1F1F;
	
	--color-danger: #D9003D;
	--color-light: #6B6B6B;
	
	--color-nebel: #6B6B6B;
	--color-papier: #FDFBF6;
	--color-sand:   #EBE6D9;
}

.theme-color-storage {
	--color-primary: #4da2ff;
	--color-primary-50: #deeeff;
	--color-primary-200: #6ab2ff;
	--color-secondary: #5ec900;
	--color-accent: #fb4a03;
	--color-accent-50: #fb490380;
	--color-accent-200: #ff6122;

	--color-primary: #ffd735;
	--color-secondary: #c0ff32;
	--color-accent: #4c0519;

	--color-danger: #d9003d;
	--color-light: #64748b;

	--color-primary-700: #f6c501;
	--color-primary-600: #239628; /* For some reason, the flowbite toggle element uses this color as its background */
}

.logo {
	font-family: 'Work Sans', sans-serif;
	font-weight: 900;
}

.landing-img {
	border-radius:5%;
	overflow:hidden
}

.cta-button {
	color: black;
	border-color: black;
	border: 1px solid;
	border-radius: 25px;
	cursor: pointer;
}

.min-button {
	color: black;
	border-color: black;
	border: 1px solid;
	border-radius: 20px;
	cursor: pointer;
}

.min-button:hover .cta-button:hover {
	box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
	cursor: pointer;
	color: white;
	border-color: black;
}

.search-bar {
	border-radius: 20px;
	color: black;
	border: 1px solid;
}

@keyframes pulse-shadow {
  0%, 100% {
    box-shadow: 0 0 0 0 rgba(252, 252, 252, 0);
  }
  50% {
    box-shadow: 0 0 0 10px var(--color-primary-50);
  }
}

.pulse-shadow {
  animation: pulse-shadow 5s infinite;
}

.timo-theme {
	--color-primary: #ffd832;
	--color-secondary: #fb4a03;
	--color-accent: #4da2ff;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}
}
