@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary: #4da2ff;
	--color-primary-50: #deeeff;
	--color-primary-200: #6ab2ff;
	--color-secondary: #5ec900;
	--color-accent: #fb4a03;
	--color-accent-50: #fb490380;
	--color-accent-200: #ff6122;

	--color-danger: #d9003d;
	--color-light: #64748b;

	--color-primary-600: #239628; /* For some reason, the flowbite toggle element uses this color as its background */
}

.theme-color-storage {
	--color-primary: #4da2ff;
	--color-primary-50: #deeeff;
	--color-primary-200: #6ab2ff;
	--color-secondary: #5ec900;
	--color-accent: #fb4a03;
	--color-accent-50: #fb490380;
	--color-accent-200: #ff6122;

	--color-primary: #ffd735;
	--color-secondary: #c0ff32;
	--color-accent: #4c0519;

	--color-danger: #d9003d;
	--color-light: #64748b;

	--color-primary-700: #f6c501;
	--color-primary-600: #239628; /* For some reason, the flowbite toggle element uses this color as its background */
}

.logo {
	font-family: 'Work Sans', sans-serif;
	font-weight: 900;
}

.min-button {
	color: black;
	border-color: black;
	border: 1px solid;
	border-radius: 20px;
	cursor: pointer;
}

.min-button:hover {
	box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
	cursor: pointer;
	color: white;
	border-color: black;
}

.search-bar {
	border-radius: 20px;
	color: var(--color-primary);
	border: 1px solid;
}

@keyframes pulse-shadow {
  0%, 100% {
    box-shadow: 0 0 0 0 rgba(252, 252, 252, 0);
  }
  50% {
    box-shadow: 0 0 0 10px var(--color-primary-50);
  }
}

.pulse-shadow {
  animation: pulse-shadow 5s infinite;
}

.timo-theme {
	--color-primary: #ffd832;
	--color-secondary: #fb4a03;
	--color-accent: #4da2ff;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}
}
